<h2>Server state</h2>

<error />

<div ng-controller="IndicatorController">
  <div class="panel" ng-if="!isInEditMode()" ng-class="{'panel-success': isFlagUp(flag), 'panel-danger': isFlagDown(flag)}">
    <div class="panel-heading">
      <h2 class="panel-title">{{ flag.title }}</h2>
    </div>
    <!-- Edit mode OFF form -->
    <div class="panel-body">
      <p>State: {{ flag.state | uppercase }}</p>
      <p ng-if="isFlagDown(flag)">
        <span>Reason: {{ flag.reason }}</span>
      </p>
      <p>
        <a href="" ng-if="isFlagDown(flag)" ng-click="commitFlagUp(flag)">It's up for me!</a>  
        <a href="" ng-if="isFlagUp(flag)" ng-click="commitFlagDown(flag)">It's down for me!</a>
      </p>
      <p ng-if="flag.promotable">
        Can promote: {{ flag.can_promote | booleanToString }}
      </p>
      <p ng-if="flag.mergeable">
        Merging: {{ flag.merge_status }}
      </p>
      <p>
        Last updated: {{ flag.updated_at }}
      </p>
    </div>
    <!-- End of Edit mode OFF form -->
  </div>
  
  <div class="panel" ng-if="isInEditMode()" ng-class="{'panel-success': isFlagUp(editedFlag), 'panel-danger': isFlagDown(editedFlag)}">
    <div class="panel-heading">
      <input type="text" class="indicator form-control panel-title" ng-model="editedFlag.title" />
    </div>
    <!-- Edit mode ON form -->
    <div class="panel-body">
      <p>State: {{ editedFlag.state | uppercase }}</p>
      <p>
        <a href="" ng-if="isFlagDown(editedFlag)" ng-click="setFlagUp(editedFlag)">It's up for me!</a>  
        <a href="" ng-if="isFlagUp(editedFlag)" ng-click="setFlagDown(editedFlag)">It's down for me!</a>
      </p>
      <p ng-if="isFlagDown(editedFlag)">
        <span>
          Reason: 
          <input type="text" class="form-control" ng-model="editedFlag.reason" />
        </span>
      </p>
      <h3>Promotion</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="promotable" ng-model="editedFlag.promotable" />
          Can this environment be promoted at all?
        </label>
      </div>
      <div class="checkbox" ng-if="editedFlag.promotable">
        <label>
           <input type="checkbox" ng-model="editedFlag.can_promote" />
           Is it ok to be promoted?
        </label>
      </div>
      <h3>Merging</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="mergeable" ng-model="editedFlag.mergeable" />
          Can the code be merged for this environment?
        </label>
      </div>
      <div class="form-group" ng-if="editedFlag.mergeable">
        <span>
          Current merge status: 
          <input type="text" class="form-control" ng-model="editedFlag.merge_status" />
        </span>
      </div>
    </div>
    <!-- End of Edit mode ON form -->
  </div>

  <p>
    <a href="" class="btn btn-default" ng-if="!isInEditMode()" ng-click="turnOnEditModeWithFlag(flag)">Edit</a>
    <a href="" class="btn btn-success" ng-if="isInEditMode()" ng-click="commitEditModeWithFlag(flag)">Save</a>
    <a href="" class="btn btn-default" ng-if="isInEditMode()" ng-click="cancelEditMode()">Cancel editing</a>
  </p>
  <p ng-if="!isInEditMode()">
    <a href="/flags" class="btn btn-default">Back</a>
    <a href="" class="btn btn-danger" ng-click="destroyFlag(flag)">Delete</a>
  </p>
</div>
 
