<div class="indicator-panel col-lg-6 col-md-6">
  <div class="panel" ng-class="{'panel-success': isFlagUp(flag), 'panel-danger': isFlagDown(flag)}">
    <div class="panel-heading">
      <h2 class="panel-title">{{ flag.title }}</h2>
    </div> 
    <div class="panel-body">
      <p>
        It is {{ flag.state | uppercase }} as of {{ flag.updated_at | stringToDatetime }}
      </p>
      <p ng-if="isFlagDown(flag)">
        Reason: {{ flag.reason }}
      </p>
      <p ng-if="flag.promotable">
        Can promote: {{ flag.can_promote | booleanToString }}
      </p>
      <p ng-if="flag.mergeable">
        Merging: {{ flag.merge_status }}
      </p> 
    </div>
    <div class="panel-footer">
      <a href="" ng-if="isFlagDown(flag)" ng-click="commitFlagUp(flag)">It's up for me!</a>  
      <a href="" ng-if="isFlagUp(flag)" ng-click="commitFlagDown(flag)">It's down for me!</a>
      &nbsp;|&nbsp;
      <a href="/flags/{{flag.id}}">Show</a>
    </div>
  </div>
</div>
