<link rel="stylesheet" href="/assets/css/app.css" type="text/css" media="screen" charset="utf-8" />

<div id="view" ng-view></div>

<script src="/assets/js/app.js" type="text/javascript" charset="utf-8"></script>